.loginContainer {
    height: 100vh;
    display: flex;
    padding: 10%;
    flex-direction: column;
    align-items: center;
  }
  
  .loginTab {
    margin-bottom: 20px;
  }
  
  .loginContainer button {
    width: 100%;
  }
  
  ::placeholder {
    font-style: italic;
    padding: 5px;
  }