button {
  border-radius: 50px;
  border: 0;
  background-color: #57a8ff;
  color: white;
  width: 100px;
  padding: 1%;
}

/* loginForm */

.loginContainer {
  height: 100vh;
  display: flex;
  padding: 10%;
  flex-direction: column;
  align-items: center;
}

.loginTab {
  margin-bottom: 20px;
}

.loginContainer button {
  width: 100%;
}

::placeholder {
  font-style: italic;
  padding: 5px;
}

/* home page section 1 */

.homePage {
  background: linear-gradient(180deg, #00103a 0%, #87ceeb 100%);
}

#section1 {
  display: grid;
  position: relative;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  align-items: center;
  padding: 10% 10% 10% 10%;
}

.quoteBox {
  color: white;
  font-size: large;
  padding: 20px;
  justify-self: center;
}

.heroImage h3{
  color: white;
  text-align: center;
}

.homeNav {
  width: 100vw;
  position: fixed;
  transition: top 0.6s;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  list-style-type: none;
  top: 30px;
  font-size: larger;
  font-weight: 700;
  z-index: 1;
}

.star {
  position: absolute;
  height: 2px;
  background: linear-gradient(-45deg, #5f91ff, rgba(0, 0, 255, 0));
  filter: drop-shadow(0 0 6px #699bff);
  animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
}

.star::before, .star::after {
  position: absolute;
  content: '';
  right: 0;
  height: 2px;
  background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #5f91ff, rgba(0, 0, 255, 0));
  transform: translateX(50%) rotateZ(45deg);
  animation: shining 3000ms ease-in-out infinite;
}

.star::after {
  transform: translateX(50%) rotateZ(-45deg);
}

.star:nth-child(1) {
  top: 20%;
  left: 20%;
  animation-delay: 650ms;
} 
.star:nth-child(1)::before, .star:nth-child(1)::after {
  animation-delay: 650ms;
}

.star:nth-child(2) {
  top: 30%;
  left: 20%;
  animation-delay: 150ms;
}
.star:nth-child(2)::before, .star:nth-child(2)::after {
  animation-delay: 150ms;
}

.star:nth-child(3) {
  top: 40%;
  left: 20%;
  animation-delay: 2000ms;
}
.star:nth-child(3)::before, .star:nth-child(3)::after {
  animation-delay: 2000ms;
}

.star:nth-child(4) {
  top: 50%;
  left: 20%;
  animation-delay: 700ms;
}
.star:nth-child(4)::before, .star:nth-child(4)::after {
  animation-delay: 700ms;
}

.star:nth-child(5) {
  top: 60%;
  left: 20%;
  animation-delay: 3000ms;
}
.star:nth-child(5)::before, .star:nth-child(5)::after {
  animation-delay: 3000ms;
}

@keyframes tail {
  0% {
    width: 0;
  }
  
  30% {
    width: 10vw;
  }
  
  100% {
    width: 0;
  }
}

@keyframes shining {
  0% {
    width: 0;
  }
  30% {
    width: 5vw;
  }
  100% {
    width: 0;
  }
}

@keyframes shooting {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(60vw);
  }
}

/* section2 */

#section2 {
  padding: 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#section2 div {
  height: 400px;
  margin: auto;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* section3 */

.how2 {
  padding-top: 5%;
  text-align: center;
}

#section3 {
  display: flex;
  flex-wrap: wrap;
  padding: 5%;
  text-align: start;
}

#section3 div {
  width: 30%;
  min-width: 300px;
  padding: 5%;
  margin: auto;
}

/* dashboard */

.emptyList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.emptyList img {
  max-width: 30%;
}

.navBar {
  position: fixed;
  z-index: 2;
  height: 100%;
  width: 50px;
  background-color: #00103a;
}

.navBar .fas{
  width: 15px;
}

.navBar ul {
  width: 50%;
  margin: 50px auto;
  list-style-type: none;
}

.navBar ul li:last-child{
  margin-top: 700px;
}

.navBar .navLink{
  overflow: hidden;
  margin-left: 20px;
  color: orangered;
}

.navBar li{
  display: flex;
  flex-direction: row;
}

.navBar .fas{
  color: white;
}

.navBar:hover {
  width: 180px;
  transition: .5s ease;
}

.dashContent {
  padding-left: 60px;
  padding-top: 1%;
  padding-right: 1%;
}

.dashHeader {
  display: flex;
  justify-content: space-around;
}

.dashHeader input {
  margin: auto;
  width: 60%;
  border-radius: 50px;
  border: 2px solid #57a8ff;
}

.dashHeader button {
  width: 10%;
}

/* List */

.dreamList li {
  padding: 2%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  overflow-wrap: break-word;
  border: #57a8ff 2px solid;
}

.dreamList li p {
  margin-top: 20px;
}

ul {
  padding: 0%;
}

/* modal */

.modal {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 10%;
  height: 60vh;
  width: 80%;
}

/* trends */

.trendsContent {
  margin-left: 60px;
}

/* footer */

footer {
  box-shadow: 0px 0px 5px 0px;
  padding: 2% 5% 2% 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
  justify-content: space-evenly;
}